<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/layout.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Document</title>
</head>
<body>
    <header>
        <div class="header_wrap">
            header
        </div>
    </header>

    <nav>
        <div class="nav_wrap">
            <i class="fa fa-bars"></i>
            <ul class="nav_list">
                <li><a href="">Odin</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Works</a></li>
                <li><a href="">Notes</a></li>
                <li><a href="">Contact</a></li>
                <li><a href=""><i class="fa fa-search"></i></a></li>
            </ul>
        </div>
    </nav>

    <div class="wrapper">
        <main>
            <section>
                section
            </section>

            <article>
                article
            </article>
        </main>

        <aside>
            aside
        </aside>

    </div>

    <footer>
        <div class="footer_wrap">
            footer
        </div>
    </footer>

</body>
</html>
